In [1]:
install.packages("readxl")
install.packages("superml")

Installing package into 'C:/Users/Acer/OneDrive/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'readxl' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'readxl'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\Acer\OneDrive\Documents\R\win-library\4.1\00LOCK\readxl\libs\x64\readxl.dll to C:\Users\Acer\OneDrive\Documents\R\win-library\4.1\readxl\libs\x64\readxl.dll: Permission denied"
Warning message:
"restored 'readxl'"

The downloaded binary packages are in
	C:\Users\Acer\AppData\Local\Temp\RtmpoRWuhJ\downloaded_packages

Installing package into 'C:/Users/Acer/OneDrive/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'superml' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'superml'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\Acer\OneDrive\Documents\R\win-library\4.1\00LOCK\superml\libs\x64\superml.dll to C:\Users\Acer\OneDrive\Documents\R\win-library\4.1\superml\libs\x64\superml.dll: Permission denied"
Warning message:
"restored 'superml'"

The downloaded binary packages are in
	C:\Users\Acer\AppData\Local\Temp\RtmpoRWuhJ\downloaded_packages

In [2]:
library("readxl")
library("superml")
setwd("C:\\Users\\Acer\\OneDrive\\Desktop\\R Project\\Airline Fair Prediction")

Loading required package: R6

In [3]:
train_set = read_excel("train.xlsx")
test_set = read_excel("test.xlsx")

In [4]:
head(train_set)

  Airline     Date_of_Journey Source   Destination
1 IndiGo      24/03/2019      Banglore New Delhi
2 Air India   1/05/2019       Kolkata  Banglore
3 Jet Airways 9/06/2019       Delhi    Cochin
4 IndiGo      12/05/2019      Kolkata  Banglore
5 IndiGo      01/03/2019      Banglore New Delhi
6 SpiceJet    24/06/2019      Kolkata  Banglore
  Route                                      Dep_Time Arrival_Time Duration
1 BLR <U+2192> DEL                           22:20    01:10 22 Mar 2h 50m
2 CCU <U+2192> IXR <U+2192> BBI <U+2192> BLR 05:50    13:15        7h 25m
3 DEL <U+2192> LKO <U+2192> BOM <U+2192> COK 09:25    04:25 10 Jun 19h
4 CCU <U+2192> NAG <U+2192> BLR              18:05    23:30        5h 25m
5 BLR <U+2192> NAG <U+2192> DEL              16:50    21:35        4h 45m
6 CCU <U+2192> BLR                           09:00    11:25        2h 25m
  Total_Stops Additional Info Price
1 non-stop    No info          3898
2 2 stops     No info          7663
3 2 stops     No info         13883
4 1 stop      No info          6219
5 1 stop      No info         13303
6 non-stop    No info          3874

In [5]:
names(train_set)

 [1] "Airline"         "Date_of_Journey" "Source"          "Destination"
 [5] "Route"           "Dep_Time"        "Arrival_Time"    "Duration"
 [9] "Total_Stops"     "Additional Info" "Price"

In [6]:
str(train_set)

tibble [10,683 x 11] (S3: tbl_df/tbl/data.frame)
 $ Airline        : chr [1:10683] "IndiGo" "Air India" "Jet Airways" "IndiGo" ...
 $ Date_of_Journey: chr [1:10683] "24/03/2019" "1/05/2019" "9/06/2019" "12/05/2019" ...
 $ Source         : chr [1:10683] "Banglore" "Kolkata" "Delhi" "Kolkata" ...
 $ Destination    : chr [1:10683] "New Delhi" "Banglore" "Cochin" "Banglore" ...
 $ Route          : chr [1:10683] "BLR <U+2192> DEL" "CCU <U+2192> IXR <U+2192> BBI <U+2192> BLR" "DEL <U+2192> LKO <U+2192> BOM <U+2192> COK" "CCU <U+2192> NAG <U+2192> BLR" ...
 $ Dep_Time       : chr [1:10683] "22:20" "05:50" "09:25" "18:05" ...
 $ Arrival_Time   : chr [1:10683] "01:10 22 Mar" "13:15" "04:25 10 Jun" "23:30" ...
 $ Duration       : chr [1:10683] "2h 50m" "7h 25m" "19h" "5h 25m" ...
 $ Total_Stops    : chr [1:10683] "non-stop" "2 stops" "2 stops" "1 stop" ...
 $ Additional Info: chr [1:10683] "No info" "No info" "No info" "No info" ...
 $ Price          : num [1:10683] 3898 7663 13883 6219 13303 ...

In [7]:
summary(train_set)

   Airline          Date_of_Journey       Source          Destination
 Length:10683       Length:10683       Length:10683       Length:10683
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character



    Route             Dep_Time         Arrival_Time         Duration
 Length:10683       Length:10683       Length:10683       Length:10683
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character



 Total_Stops        Additional Info        Price
 Length:10683       Length:10683       Min.   : 1760
 Class :character   Class :character   1st Qu.: 5278
 Mode  :character   Mode  :character   Median : 8373
                                       Mean   : 9088
                                       3rd Qu.:12374
                                       Max.   :79513

In [8]:
summary(is.na(train_set))

  Airline        Date_of_Journey   Source        Destination
 Mode :logical   Mode :logical   Mode :logical   Mode :logical
 FALSE:10683     FALSE:10683     FALSE:10683     FALSE:10683

   Route          Dep_Time       Arrival_Time     Duration
 Mode :logical   Mode :logical   Mode :logical   Mode :logical
 FALSE:10682     FALSE:10683     FALSE:10683     FALSE:10683
 TRUE :1
 Total_Stops     Additional Info   Price
 Mode :logical   Mode :logical   Mode :logical
 FALSE:10682     FALSE:10683     FALSE:10683
 TRUE :1

In [9]:
miss = which(is.na(train_set))
train_set[miss,]

  Airline Date_of_Journey Source Destination Route Dep_Time Arrival_Time
1 NA      NA              NA     NA          NA    NA       NA
2 NA      NA              NA     NA          NA    NA       NA
  Duration Total_Stops Additional Info Price
1 NA       NA          NA              NA
2 NA       NA          NA              NA

In [10]:
#Handling missing values
train_set = na.omit(train_set)
summary(is.na(train_set))

  Airline        Date_of_Journey   Source        Destination
 Mode :logical   Mode :logical   Mode :logical   Mode :logical
 FALSE:10682     FALSE:10682     FALSE:10682     FALSE:10682
   Route          Dep_Time       Arrival_Time     Duration
 Mode :logical   Mode :logical   Mode :logical   Mode :logical
 FALSE:10682     FALSE:10682     FALSE:10682     FALSE:10682
 Total_Stops     Additional Info   Price
 Mode :logical   Mode :logical   Mode :logical
 FALSE:10682     FALSE:10682     FALSE:10682

In [11]:
#Suitable data type for the column
unique(train_set$Total_Stops)
train_set$Total_Stops <- replace(train_set$Total_Stops,train_set$Total_Stops == "non-stop",0)
train_set$Total_Stops <- replace(train_set$Total_Stops,train_set$Total_Stops == "1 stop",1)
train_set$Total_Stops <- replace(train_set$Total_Stops,train_set$Total_Stops == "2 stops",2)
train_set$Total_Stops <- replace(train_set$Total_Stops,train_set$Total_Stops == "3 stops",3)
train_set$Total_Stops <- replace(train_set$Total_Stops,train_set$Total_Stops == "4 stops",4)
unique(train_set$Total_Stops)

class(train_set$Total_Stops) <- "integer"
head(train_set$Total_Stops)

[1] "non-stop" "2 stops"  "1 stop"   "3 stops"  "4 stops"

[1] "0" "2" "1" "3" "4"

[1] 0 2 2 1 1 0

In [12]:
#Suitable metrics for the column
duration <- c()
for (each in train_set$Duration) {
  dur <- 0
  if(unlist(gregexpr("h",each)) != -1){
    dur <- dur + as.integer(substr(each,1,unlist(gregexpr("h",each))-1))*60
  }
  if(unlist(gregexpr("m",each)) != -1){
    if(unlist(gregexpr("h",each)) != -1){
      dur <- dur + as.integer(substr(each,unlist(gregexpr("h",each))+1,unlist(gregexpr("m",each))-1))
    }
    else{
      dur <- dur + as.integer(substr(each,1,unlist(gregexpr("h",each))-1))
    }
  }
  duration <- c(duration,dur)
}
train_set["Duration (in mins)"] <- duration

In [13]:
dates <- c()
for (each in train_set$Date_of_Journey) {
  date <- as.Date(each,"%d/%m/%Y")
  dates <- c(dates, date)
}
train_set$`Date of Journey` <- dates
train_set$`Date of Journey` <- as.Date(train_set$`Date of Journey`,origin = "1970-01-01")

In [14]:
unique(train_set$Airline)
lb = LabelEncoder$new()
lb$fit(train_set$Airline)
train_set$Airline = lb$fit_transform(train_set$Airline)

 [1] "IndiGo"                            "Air India"
 [3] "Jet Airways"                       "SpiceJet"
 [5] "Multiple carriers"                 "GoAir"
 [7] "Vistara"                           "Air Asia"
 [9] "Vistara Premium economy"           "Jet Airways Business"
[11] "Multiple carriers Premium economy" "Trujet"

In [15]:
#Dropping columns which are of no use
train_set <- subset(train_set, select = -c(Route,Dep_Time,Arrival_Time,`Additional Info`,Duration,Source,Destination,Date_of_Journey))
train_set <- train_set[,c(1,2,5,4,3)]
View(train_set)

      Airline Total_Stops Date of Journey Duration (in mins) Price
1     0       0           2019-03-24       170                3898
2     1       2           2019-05-01       445                7663
3     2       2           2019-06-09      1140               13883
4     0       1           2019-05-12       325                6219
5     0       1           2019-03-01       285               13303
6     3       0           2019-06-24       145                3874
7     2       1           2019-03-12       930               11088
8     2       1           2019-03-01      1265               22271
9     2       1           2019-03-12      1530               11088
10    4       1           2019-05-27       470                8626
11    1       1           2019-06-01       795                8908
12    0       0           2019-04-18       155                4175
13    1       0           2019-06-24       135                4668
14    2       1           2019-05-09       730                9664
15    0       0           2019-04-24       155                4805
16    1       2           2019-03-03      1595               14012
17    3       1           2019-04-15       270                5831
18    2       1           2019-06-12      1355               10263
19    1       2           2019-06-12      1380               13382
20    2       1           2019-05-27      1235               12899
21    5       1           2019-03-06       310               19496
22    1       1           2019-03-21       920                6956
23    0       0           2019-04-03       170                3944
24    0       0           2019-05-01       175                4824
25    2       1           2019-05-06       800                7758
26    2       2           2019-06-09       910               13293
27    0       1           2019-06-01       345                8239
28    5       1           2019-05-15       355                7683
29    6       0           2019-06-18       170                4669
30    6       0           2019-06-15       135                3688
...   ...     ...         ...             ...                ...
10653 2       1           2019-05-01      1315               14389
10654 3       0           2019-06-12       160                4320
10655 2       0           2019-05-03        85                5679
10656 6       0           2019-04-06       160                5614
10657 2       1           2019-05-06       800                9664
10658 2       0           2019-06-18       175                5770
10659 6       0           2019-05-01       170                4669
10660 6       0           2019-03-21       175                4879
10661 1       1           2019-05-09       375                8373
10662 1       2           2019-03-24      1210               12353
10663 2       2           2019-06-06      1025               11734
10664 0       0           2019-04-09       175                4824
10665 0       0           2019-04-27       150                4805
10666 2       1           2019-06-12      1485               10263
10667 2       1           2019-03-12      1285               11088
10668 2       2           2019-05-09       440               21220
10669 1       1           2019-06-15       675                9930
10670 1       2           2019-05-12      1045               11412
10671 1       0           2019-06-06        80                3101
10672 2       2           2019-06-27      1195               11151
10673 2       2           2019-05-27       900               16705
10674 2       1           2019-03-12      1485               11088
10675 1       0           2019-06-09        80                3101
10676 4       1           2019-05-01       520                9795
10677 3       0           2019-05-21       160                3258
10678 7       0           2019-04-09       150                4108
10679 1       0           2019-04-27       155                4146
10680 2       0           2019-04-27       180                7230
10681 6       0           2019-03-01       160               12649
10682 1       2           2019-05-09       500               11754